<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
      </div>
    </header>

      <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="about-me">
          <h1>About me</h1>
    <p>I'm <a href="https://github.com/iamhummelila">@iamhummelila</a>! Nice to meet you. I am studying computational linguistics (aka NLP) and comparative literature at uni.
      Of course, I'm not studying Python for literature (even though it would be fun to do a little project there some time!), 
      but for CL / NLP. </p>
    <br>
    <p>My interests are widespread, so I'll stick to the basics: I love (natural) languages, explaining things, holding small speeches (or monologues) on things that fascinate me,
      and, of course, learning information. My brain is like a sponge. I want to get all the info in my head. Then, my brain is like
      a sieve: I forget all of it again. </p>
    <p>So, what am I learning at the moment, besides uni-related-stuff? </p>
    <ul>
     <li> Python! (for uni, but also for personal projects)</li>
     <li> CSS and HTML (for this website! so kind of for uni and for personal projects) </li>
     <li> Languages. I speak five languages more or less fluently, and want to learn another five as soon as my brain allows it. </li>
     </ul>
     <p> I wish I could list more, but that's it for the now. Have fun! </p>
     <br>
        </section>

        <aside id="sidebar">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="button">
              <small>Download</small>
              .zip file
            </a>
            <a href="{{ site.github.tar_url }}" class="button">
              <small>Download</small>
              .tar.gz file
            </a>
          {% endif %}

          {% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
          {% endif %}

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
          
          <address>
          Informally email me at <a href="mailto:angela1345@gmx.ch">my informal e-mail-address.</a>.<br>
          For formal things, email me at <a href="mailto:angela.heldstab@outlook.com">my more formal e-mail-address.</a>.<br>
            <i> Of course, if you're absolutely fascinated by my coding abilities and <em>need</em> me to do something for you, you may also write at my formal e-mail-address. </i>
          </address>
        </aside>
          
        <footer>
            <p> 
                It doesn't matter if you're straight, gay, bisexual, or asexual. 
                <br>
                At the end of the day, its night. <br>
                <br>
                Haha, you really thought you could get away without another dad joke? Hahaha. Now that's a good joke. <br></p>
         </footer>
      </div>
    </div>

</body>
</html>
